.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1em;
  margin-top: 3em;
}
.todo-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #b8b8b8;
  height: auto;
  padding: 0.5em;
}
.todo-icons {
  width: auto;
  display: flex;
  gap: 5px;
  height: max-content;
}

.todo-info {
  display: flex;
  gap: 3px;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  height: 100%;
  font-size: small;
}

.checked {
  text-decoration-line: line-through;
  color: #b8b8b8;
}
.unchecked {
  text-decoration-line: none;
  color: black;
}

.todo-info-cont {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 578px) {
  .main-container {
    height: 100%;
  }
  .todo-container {
    width: 90%;
    height: auto;
  }

  .todo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0.5em;
    gap: 10px;
  }
  .todo-icons {
    width: auto;
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: center;
  }

  .todo-info {
    display: flex;
    gap: 3px;
    width: 100%;
    font-size: small;
  }

  .todo-info-cont {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}
