.container-pokemon{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-pokemon h1{
    font-size: 2.5rem;
    padding: .5em;
    font-weight: 600;
}
.form-pokemon{
    width: max-content;
    padding: .5em;
}