  .todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #b8b8b8;
    height: auto;
    padding: 0.5em;
  }
  .todo-icons {
    width: auto;
    display: flex;
    gap: 5px;
    height: max-content;
  }
  
  .todo-info {
    display: flex;
    gap: 3px;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    height: 100%;
    font-size: small;
  }
  
  .checked {
    text-decoration-line: line-through;
    color: #b8b8b8;
  }
  .unchecked {
    text-decoration-line: none;
    color: black;
  }
  
  .todo-info-cont {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  
  @media (max-width: 578px) {
  
    .todo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 0.5em;
      gap: 10px;
    }
    .todo-icons {
      width: auto;
      display: flex;
      gap: 5px;
      width: 100%;
      justify-content: center;
    }
  
    .todo-info {
      display: flex;
      gap: 3px;
      width: 100%;
      font-size: small;
    }
  
    .todo-info-cont {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  